#container {
  height: 750px;
  width: 1550px;
  background-color: #3f72af;
  position: absolute;
  display: flex;
  place-items: center;
  flex-direction: column;
  place-content: center;
  right: 30px;
  top: 10px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: -2px 2px 6px #112d4e;
}

#formContainerApp {
  height: 700px;
  width: 650px;
  background-color: #dbe2ef;
  border-radius: 20px;
  box-shadow: -4px 2px 6px #112d4e;
}

input {
  margin-bottom: 10px;
}

#ulApp {
  margin: 0;
  width: 500px;
  height: 300px;
  position: absolute;
  display: flex;
  place-items: center;
  flex-direction: column;
  place-content: center;
  padding-left: 84px;
}

.liApp {
  display: flex;
  place-items: center;
  flex-direction: column;
  place-content: center;
}

